.conteudo-pagina {
    display: inline-block !important;
}

.example-sidenav-content {
    display: inline-block;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    width: 230px;
}

.button-sidebar {
    margin-top: 100px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 15%;
}   

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
}

.container-card > .example-card {
    display: inline-block;
    margin: 10px 0 0 2%;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
}


.mat-drawer-content {
    background-color: #7CB962;
}

body {
    overflow: hidden !important;
}

.mat-form-field {
    margin-right: 12px;
}