.conteudo-pagina {
    display: inline-block !important;
}

.example-sidenav-content {
    display: inline-block;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    width: 230px;
}

.button-sidebar {
    margin-top: 100px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 230px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.teste {
    height: 100%;
    margin-top: 40vh;
    margin-left: 10vh;
    overflow-y: visible;
}

.mat-drawer-content {
    background-color: #7CB962;
}

body {
    overflow: hidden !important;
}

.mat-form-field {
    margin-right: 12px;
}